<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fhdw.hotel" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrototypeSuchform"
            android:label="@string/title_activity_prototype_suchform" >
        </activity>
        <activity
            android:name=".ZimmerListe"
            android:label="@string/title_activity_zimmer_liste" >
        </activity>
        <activity
            android:name=".zimmer_detail"
            android:label="@string/title_activity_zimmer_detail" >
        </activity>
        <activity
            android:name=".AccordeonZimmer"
            android:label="@string/title_activity_accordeon_zimmer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
        <activity android:name=".RegisterActivity"
            android:label="@string/title_activity_register">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
